* {
  box-sizing: border-box;
}
h1 {
  letter-spacing: 4.5px;
  font-size: 40px;
}
.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(
    to right,
    #f09611 0%,
    #feb47b 50%,
    #f09611 100%
  );
}
.f-s {
  font-size: 18px;
}
.f-m {
  font-size: 30px;
}
.profile-page--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.form1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form1 label {
  display: block;
}
.form1 label,
.form1 select,
.form1 button {
  margin-bottom: 10px;
}
.form1 label,
.form1 select {
  margin: 10px 0;
}
.form1 input,
.form1 select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 12rem;
  outline: none;
}

.form1 input:focus,
.form1 select:focus {
  border-color: #007bff;
}

.button-27 {
  text-decoration: none;
  border-radius: 100px;
  padding: 0.7rem 2.5rem;
  color: #ffff;
  background-color: rgb(231, 152, 4);
  border: none;
  letter-spacing: 0.8px;
  filter: drop-shadow(6px 4px 5px #c7c7c7);
  transition: all 0.2s;
  cursor: pointer;
  display: block;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(1px);
}

.mt-s {
  margin-top: 1.5rem;
}
.mt-m {
  margin-top: 6rem;
}

.mt-xl {
  margin-top: 12rem;
}
.mb-s {
  margin-bottom: 1.5rem;
}
.mb-m {
  margin-bottom: 3rem;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 5px 14px 14px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 35rem;
  margin: 20px;
  text-align: center;
  margin-bottom: 10rem;
}

.t-green {
  color: green;
}
.t-red {
  color: red;
}
.t-orange {
  color: #f07d11;
}
